#include <dt-bindings/gpio/tegra-gpio.h>
#include <dt-bindings/mfd/palmas.h>
#include <dt-bindings/regulator/regulator.h>

#define TEGRA132_PACKAGE_IS_DSC

#include "tegra132-soc-shield.dtsi"
/*#include "tegra132-flounder-camera.dtsi"
#include "tegra132-flounder-trusty.dtsi"*/
#include "tegra132-flounder-powermon.dtsi"
#include "tegra132-flounder-emc.dtsi"
#include "tegra132-tn8-dfll.dtsi"
#include "tegra132-flounder-touch.dtsi"
#include "tegra132-platforms/tegra132-flounder-gpio-default.dtsi"
#include "tegra132-platforms/tegra132-flounder-pinmux.dtsi"
#include "tegra132-platforms/tegra132-flounder-keys.dtsi"
#include "tegra132-platforms/tegra132-flounder-sdhci.dtsi"
#include "tegra132-platforms/tegra132-flounder-wireless.dtsi"
#include "tegra132-flounder-power-tree.dtsi"
#include "tegra124-platforms/tegra124-tn8-cpufreq.dtsi"
#include "tegra132-flounder-sysedp.dtsi"
#include "tegra132-platforms/tegra132-therm-est.dtsi"
#include "tegra132-flounder-thermal.dtsi"
#include "tegra132-flounder-sysedp_therm.dtsi"
#include "tegra132-platforms/tegra132-edp.dtsi"
#include "tegra132-platforms/tegra132-thermal-nct72.dtsi"
#include "tegra132-platforms/tegra132-thermal-Tboard-Tdiode.dtsi"
#include "tegra132-platforms/tegra132-power-dvfs.dtsi"

#include "panel-j-qxga-8-9.dtsi"

/ {
	model = "NVIDIA Tegra124 TN8 FFD";
	compatible = "nvidia,flounder", "nvidia,tegra132";

//	nvidia,boardids = "1780:1100:2:B:7","1794:1000:0:A:6";
	nvidia,boardids = "1761:1270:3";
	#address-cells = <2>;
	#size-cells = <2>;

	chosen {
		bootargs = "tegraid=40.0.0.00.00 vmalloc=256M video=tegrafb console= earlyprintk vpr_resize tsec=32M@4064M vpr=186M@3910M otf_key=914e3cd033c06c6370b630bb6ec9dd4e board_info=0x06e1:0x04d2:0x04:0x00:0x00 displayboard=0x0791:0x03e8:0x00:0x00:0x00 pmuboard=0x06e1:0x04d2:0x04:0x00:0x00";
		linux,initrd-start = <0x85000000>;
		linux,initrd-end = <0x851bc400>;
	};


	firmware {
		android {
			compatible = "android,firmware";
			hardware = "flounder";
		};
	};

        host1x {
		/* tegradc.0 */
		dc@54200000 {
			status = "okay";
			nvidia,dc-flags = <TEGRA_DC_FLAG_ENABLED>;
			nvidia,emc-clk-rate = <204000000>;
			nvidia,cmu-enable = <0>;
			nvidia,low-v-win = <0x2>;
			nvidia,fb-bpp = <32>; /* bits per pixel */
			nvidia,fb-flags = <TEGRA_FB_FLIP_ON_PROBE>;
		};
		/* tegradc.1 */
		dc@54240000 {
			status = "disabled";
			nvidia,dc-flags = <TEGRA_DC_FLAG_ENABLED>;
			nvidia,emc-clk-rate = <300000000>;
			nvidia,fb-bpp = <32>; /* bits per pixel */
			nvidia,fb-flags = <TEGRA_FB_FLIP_ON_PROBE>;
		};
		dsi {
			nvidia,dsi-controller-vs = <DSI_VS_1>;
			status = "okay";
			panel-j-qxga-8-9 {
				status = "okay";
				nvidia,panel-rst-gpio = <&gpio TEGRA_GPIO(H, 5) GPIO_ACTIVE_LOW>;
			};
		};
		tsec {
			status = "okay";
		};

		hdmi {
			status = "disabled";
		};
		vi {
			status = "disabled";
		};

	};

	pmc@7000e400 {
		status = "okay";
		nvidia,invert-interrupt;
		nvidia,suspend-mode = <0>;
		nvidia,cpu-suspend-freq = <408000>;
		nvidia,cpu-pwr-good-time = <500>;
		nvidia,cpu-pwr-off-time = <300>;
		nvidia,core-pwr-good-time = <3845 3845>;
		nvidia,core-pwr-off-time = <2000>;
		nvidia,core-power-req-active-high;
		nvidia,sys-clock-req-active-high;
	};

	serial@70006000 {
		compatible = "nvidia,tegra114-hsuart";
		status = "okay";
	};

	serial@70006040 {
		compatible = "nvidia,tegra114-hsuart";
		status = "okay";
	};

	serial@70006200 {
		compatible = "nvidia,tegra114-hsuart";
		status = "okay";
	};

	serial@70006300 {
		compatible = "nvidia,tegra114-hsuart";
		status = "okay";
	};

	memory@0x80000000 {
		device_type = "memory";
		reg = <0x0 0x80000000 0x0 0x80000000>;
	};

	i2c@7000c000 {
		status = "okay";
		clock-frequency = <400000>;

		battery-charger@6b {
			compatible = "ti,bq2419x";
			reg = <0x6b>;

			interrupt-parent = <&gpio>;
			interrupts = <TEGRA_GPIO(J, 0) 0x0>;

			battery_charger: charger {
				status = "okay";
				regulator-name = "batt_regulator";
				regulator-max-microamp = <3000000>;
				ti,disbale-suspend-during-charging;
				ti,input-voltage-limit-millivolt = <4440>;
				ti,charge-voltage-limit-millivolt = <4352>;
				ti,charge-term-current-limit-milliamp = <128>;
				ti,ir-comp-voltage-millivolt = <1>;
				ti,ir-comp-resister-ohm = <1>;
				ti,pre-charge-current-limit-milliamp = <512>;
				ti,fast-charge-current-limit-milliamp = <2944>;
				ti,thermal-regulation-threshold-degc = <120>;
				consumers {
					c1 {
						regulator-consumer-supply = "usb_bat_chg";
						regulator-consumer-device = "tegra-udc.0";
					};
					c2 {
						regulator-consumer-supply = "usb_bat_chg";
						regulator-consumer-device = "tegra-otg";
					};
				};
			};

			usb0_vbus_reg: vbus {
				regulator-name = "vbus_regulator";
				consumers {
					c1 {
						regulator-consumer-supply = "usb_vbus";
						regulator-consumer-device = "tegra-ehci.0";
					};

					c2 {
						regulator-consumer-supply = "usb_vbus";
						regulator-consumer-device = "tegra-otg";
					};
				};

			};
		};

		battery-gauge@36 {
			status = "okay";
			compatible = "maxim,max17050";
			reg = <0x36>;
		};

		htc_mcu@72 {
			status = "okay";
			compatible = "htc_mcu";
			reg = <0x72>;
			interrupt-parent = <&gpio>;
			interrupts = <140 0x0>;
			mcu,intr-gpio  = <&gpio 140 GPIO_ACTIVE_LOW>;
			mcu,gs_chip_layout = <1>;
			mcu,acceleration_axes = <7>;
			mcu,magnetic_axes = <7>;
			mcu,gyro_axes = <7>;
			mcu,Cpu_wake_mcu-gpio = <&gpio 129 GPIO_ACTIVE_LOW>;
			mcu,Reset-gpio = <&gpio 138 GPIO_ACTIVE_LOW>;
			mcu,Chip_mode-gpio = <&gpio 164 GPIO_ACTIVE_LOW>;
		};

		broadcom_bcm2079x_nfc@0x77 {
			status = "okay";
			compatible = "broadcom,bcm2079x_nfc";
			reg = <0x77>;
			broadcom,irq-gpio = <&gpio 143 GPIO_ACTIVE_LOW>;
			broadcom,en-gpio = <&gpio 9 GPIO_ACTIVE_LOW>;
			broadcom,wake-gpio = <&gpio 145 GPIO_ACTIVE_LOW>;
			interrupt-parent = <&gpio>;
			interrupts = <143 0x0>;
		};

		cm32181@48 {
			status = "okay";
			compatible = "capella,cm32181";
			reg = <0x48>;
		};
	};

	i2c@7000c400 {
		status = "okay";
		clock-frequency = <400000>;

		nxp_tfa9895_amp@35 {
			status = "okay";
			compatible = "nxp,tfa9895-amp";
			reg = <0x35>;
			tfa9895,enable-power-gpio = <&gpio 189 GPIO_ACTIVE_LOW>;
		};

		nxp_tfa9895l_amp@34 {
			status = "okay";
			compatible = "nxp,tfa9895l-amp";
			reg = <0x34>;
		};

		realtek_rt5677@2d {
			status = "okay";
			compatible = "realtek,rt5677";
			reg = <0x2d>;
			realtek,vad-clock-en = <&gpio 187 GPIO_ACTIVE_LOW>;
		};

		richtek_rt5506_amp@52 {
			status = "okay";
			compatible = "richtek,rt5506-amp";
			reg = <0x52>;
			richtek,enable-gpio = <&gpio 185 GPIO_ACTIVE_LOW>;
		};
	};

	i2c@7000c500 {
		status = "okay";
		clock-frequency = <400000>;
	};

	i2c@7000c700 {
		status = "okay";
		clock-frequency = <400000>;
	};

	i2c@7000d000 {
		status = "okay";
		clock-frequency = <400000>;
		nvidia,bit-banging-xfer-after-shutdown;
	};

	i2c@7000d100 {
		status = "okay";
		clock-frequency = <400000>;
	};

	spi@7000d400 {
		status = "okay";
		spi-max-frequency = <25000000>;

		codec@0 {
			status = "okay";	
			compatible = "realtek,rt5677-spi";	
			reg = <0>;	
			spi-max-frequency = <24000000>;	
		};
	};

	spi@7000d800 {
		status = "okay";
		spi-max-frequency = <25000000>;
	};

	spi@7000da00 {
		status = "okay";
		spi-max-frequency = <25000000>;
	};

	spi@7000dc00 {
		status = "okay";
		spi-max-frequency = <25000000>;
	};

	denver_cpuidle_pmic {
		type = <4>; /* TPS 65913 2.3*/
		retention-voltage = <11>;  /* Vret = 0.55v */
		lock = <0>;
	};

	xusb@70090000 {
		/* nvidia,uses_external_pmic;
		nvidia,gpio_controls_muxed_ss_lanes; */
		nvidia,gpio_ss1_sata = <0>;
		nvidia,portmap = <0x101>; /* SSP0, USB2P0 */
		nvidia,ss_portmap = <0x0>; /* SSP0 on USB2P0 */
		nvidia,lane_owner = <4>; /* USB3P0 */
		nvidia,ulpicap = <0>; /* No ulpi support. can we remove */
		status = "disabled";
	};

	udc@7d000000 {
		nvidia,port-otg;
		nvidia,charging-supported;
		nvidia,turn-off-vbus-in-lp0;
		nvidia,id-detection-type = <0x1>;
		nvidia,dcp-current-limit-ua = <2200000>;
		nvidia,enable-pmu-vbus-detection;
		nvidia,enable-aca-rid-detection;
		extcon-cables = <&extcon_cable_xlate 0 &extcon_cable_xlate 2 &extcon_cable_xlate 5>;
		extcon-cable-names = "vbus", "aca-rb", "aca-rc";
		#extcon-cells = <1>;
		status = "okay";
	};

	ehci@7d000000 {
		nvidia,port-otg;
		nvidia,has-hostpc;
		nvidia,is-intf-utmi;
		nvidia,turn-off-vbus-on-lp0;
		nvidia,hssync-start-delay = <0>;
		nvidia,idle-wait-delay = <17>;
		nvidia,elastic-limit = <16>;
		nvidia,term-range-adj = <6>;
		nvidia,xcvr-setup = <15>;
		nvidia,xcvr-lsfslew = <0>;
		nvidia,xcvr-lsrslew = <3>;
		nvidia,xcvr-use-fuses;
		nvidia,vbus-oc-map = <4>;
		nvidia,xcvr-setup-offset = <0>;
		status = "disabled";
	};

	otg@7d000000 {
		nvidia,turn-off-vbus-in-lp0;
		nvidia,enable-pmu-vbus-detection;
		nvidia,id-detection-type = <0x1>;
		nvidia,enable-y-cable-detection;
		nvidia,enable-aca-rid-detection;
		extcon-cables = <&extcon_cable_xlate 0 &extcon_cable_xlate 1 &extcon_cable_xlate 2 &extcon_cable_xlate 3 &extcon_cable_xlate 4 &extcon_cable_xlate 5>;
		extcon-cable-names = "vbus", "id", "aca-ra", "y-cable", "aca-rb", "aca-rc";
		#extcon-cells = <1>;
		status = "okay";
	};

	psy_extcon {
		compatible = "power-supply-extcon";
		power-supply,extcon-dev = "tegra-udc";
		extcon-cables = <&udc 1 &udc 2 &udc 3
				&udc 4 &udc 5 &udc 6
				&udc 7 &udc 8 &udc 9
				&udc 10 &udc 11 &udc 12 &udc 13 &otg 0 &otg 1>;
		extcon-cable-names = "usb-charger", "ta-charger", "maxim-charger",
				"qc2-charger", "downstream-charger","fast-charger",
				"slow-charger", "apple-500ma", "apple-1a",
				"apple-2a", "ACA NV-Charger", "ACA RID-B", "ACA RID-C", "Y-Cable", "ACA RID-A";
				status = "okay";
	};

	extcon {
		compatible = "simple-bus";
		device_type = "external-connection";
		#address-cells = <1>;
		#size-cells = <0>;
	};

	extcon {
		id_extcon: extcon@1 {
			compatible = "extcon-gpio-states";
			reg = <0x1>;
			extcon-gpio,name = "ID";
			extcon-gpio,cable-states = <0x0 0x1
						0x1 0x0>;
			gpios = <&gpio 178 0>;
			extcon-gpio,out-cable-names = "USB-HOST";
			#extcon-cells = <1>;
		};

 		extcon_cable_xlate: extcon@0 {
 			compatible = "extcon-cable-xlate";
 			reg = <0x0>;
 			extcon-name = "cable-xlate";
 			output-cable-names = "USB", "USB-Host", "ACA-A", "Y-Cable", "ACA-B", "ACA-C", "ACA-NV";
 			extcon-cables = <&palmas_extcon 0 &id_extcon 0 &palmas_extcon 2 &palmas_extcon 3 &palmas_extcon 4>;
 			extcon-cable-names = "vbus", "id", "aca-ra", "aca-rb", "aca-rc";
 			cable-new-states = <0x0     0x0     0x3F    0x0 0x0
 					0x0     0x1     0x3F    0x1   0x0
 					0x2     0x1     0x3F    0x0   0x0
 					0x0     0x2     0x3F    0x2   0x0
 					0x0     0x3     0x3F    0x8   0x0
 					0x2     0x3     0x3F    0x2   0x0
 					0x3     0x1     0x3F    0x0   0x0
 					0x3     0x2     0x3F    0x2   0x0
					0x0     0x4     0x3F    0x4   0x0
                                        0x0     0x8     0x3F    0x10  0x0
                                        0x0     0x10    0x3F    0x20  0x0>;
 			#extcon-cells = <1>;
 			status = "okay";
 		};
 	};

	ehci@7d004000 {
		nvidia,has-hostpc;
		nvidia,turn-off-vbus-on-lp0;
		nvidia,is-intf-utmi;
		status = "disabled";
	};

	ehci@7d008000 {
		nvidia,has-hostpc;
		nvidia,turn-off-vbus-on-lp0;
		nvidia,is-intf-utmi;
		status = "disabled";
	};

	HTC_HEADSET_MGR {
		status = "okay";
		compatible = "htc,headset_mgr";
	};
	
	HTC_HEADSET_PMIC {
		status = "okay";
		compatible = "htc,headset_pmic";
	};

	sound {
		status = "okay";
		compatible = "nvidia,tegra-audio-rt5677";
		nvidia,codec_name = "rt5677.1-002d";
		nvidia,codec_dai_name = "rt5677-aif1";
		nvidia,ldo1-gpios = <&gpio 80 GPIO_ACTIVE_LOW>;
		nvidia,ldo2-gpios = <&gpio 131 GPIO_ACTIVE_LOW>;
		nvidia,gpio-reset = <&gpio 188 GPIO_ACTIVE_LOW>;
		nvidia,gpio-irq1 = <&gpio 148 GPIO_ACTIVE_LOW>;
		nvidia,gpio-wakeup = <&gpio 112 GPIO_ACTIVE_LOW>;
		nvidia,gpio-int-mic-en = <&gpio 171 GPIO_ACTIVE_LOW>;
	//	nvidia,gpio-ext-mic-en = <&gpio 147 GPIO_ACTIVE_LOW>;
		nvidia,gpio_codec_mclk_id = <&gpio 180 GPIO_ACTIVE_LOW>;
		nvidia,codec_mclk_name = "extperiph1_clk";
		nvidia,i2s-param-hifi = <1 1 2 16 2 48000 1536000>;
		nvidia,i2s-param-speaker = <2 1 2 16 2 48000 1536000>;
		nvidia,i2s-param-bt = <3 1 0 16 2 48000 512000>;
					
	};

	cpu_edp {
		status = "okay";
		nvidia,edp_limit = <16800>;
	};

	gpu_edp {
		status = "okay";
		nvidia,edp_limit = <16800>;
	};

	watchdog@60005100 {
		nvidia,enable-on-init;
		nvidia,heartbeat-init = <120>;
	};
};
