#include <dt-bindings/gpio/tegra-gpio.h>
#include <dt-bindings/mfd/palmas.h>
#include <dt-bindings/regulator/regulator.h>

#define TEGRA132_PACKAGE_IS_DSC

#include "tegra132-soc-shield.dtsi"
#include "tegra132-flounder-camera.dtsi"
#include "tegra132-flounder-trusty.dtsi"
#include "tegra132-flounder-sysedp.dtsi"
#include "tegra132-flounder-powermon.dtsi"
#include "tegra132-flounder-emc.dtsi"
#include "tegra132-tn8-dfll.dtsi"
#include "tegra132-flounder-touch.dtsi"
#include "tegra132-platforms/tegra132-flounder-gpio-default.dtsi"
#include "tegra132-platforms/tegra132-flounder-pinmux.dtsi"
#include "tegra132-platforms/tegra132-flounder-keys.dtsi"
#include "tegra132-flounder-power-tree.dtsi"
#include "tegra124-platforms/tegra124-tn8-cpufreq.dtsi"

#include "panel-j-qxga-8-9.dtsi"

/ {
	model = "flounder";
	nvidia,dtsfilename = __FILE__;
	nvidia,boardids = "1780:1100:2:B:7","1794:1000:0:A:6";
	#address-cells = <2>;
	#size-cells = <2>;

	chosen {
		bootargs = "tegraid=40.0.0.00.00 vmalloc=256M video=tegrafb console=ttyS0,115200n8 earlyprintk vpr_resize tsec=32M@4064M otf_key=914e3cd033c06c6370b630bb6ec9dd4e";
		linux,initrd-start = <0x85000000>;
		linux,initrd-end = <0x851bc400>;
	};


	firmware {
		android {
			compatible = "android,firmware";
			hardware = "flounder";
		};
	};

        host1x {
		/* tegradc.0 */
		dc@54200000 {
			status = "okay";
			nvidia,dc-flags = <TEGRA_DC_FLAG_ENABLED>;
			nvidia,emc-clk-rate = <204000000>;
			nvidia,cmu-enable = <1>;
			nvidia,low-v-win = <0x2>;
			nvidia,fb-bpp = <32>; /* bits per pixel */
			nvidia,fb-flags = <TEGRA_FB_FLIP_ON_PROBE>;
		};
		/* tegradc.1 */
		dc@54240000 {
			status = "disabled";
			nvidia,dc-flags = <TEGRA_DC_FLAG_ENABLED>;
			nvidia,emc-clk-rate = <300000000>;
			nvidia,fb-bpp = <32>; /* bits per pixel */
			nvidia,fb-flags = <TEGRA_FB_FLIP_ON_PROBE>;
		};
		dsi {
			nvidia,dsi-controller-vs = <DSI_VS_1>;
			status = "okay";
			panel-j-qxga-8-9 {
				nvidia,panel-rst-gpio = <&gpio TEGRA_GPIO(H, 5) 0>;
				nvidia,panel-bl-pwm-gpio = <&gpio TEGRA_GPIO(H, 1) 0>; /* PH1 */
				disp-default-out {
				};
			};
		};
		tsec {
			carveout {
				carveout_addr = <0xfe000000>;
				carveout_size = <0x2000000>;
			};
		};
		hdmi {
			status = "disabled";
		};
		vi {
			status = "disabled";
		};

	};

	pmc@7000e400 {
		status = "okay";
		nvidia,invert-interrupt;
		nvidia,suspend-mode = <0>;
		nvidia,cpu-pwr-good-time = <500>;
		nvidia,cpu-pwr-off-time = <300>;
		nvidia,core-pwr-good-time = <3845 3845>;
		nvidia,core-pwr-off-time = <2000>;
		nvidia,core-power-req-active-high;
		nvidia,sys-clock-req-active-high;
	};

	serial@70006000 {
		compatible = "nvidia,tegra114-hsuart";
		status = "okay";
	};

	serial@70006040 {
		compatible = "nvidia,tegra114-hsuart";
		status = "okay";
	};

	serial@70006200 {
		compatible = "nvidia,tegra114-hsuart";
		status = "okay";
	};

	serial@70006300 {
		compatible = "nvidia,tegra114-hsuart";
		status = "okay";
	};

	memory@0x80000000 {
		device_type = "memory";
		reg = <0x0 0x80000000 0x0 0x80000000>;
	};

	i2c@7000c000 {
		status = "okay";

		battery-gauge@36 {
			compatible = "maxim,max17050";
			reg = <0x36>;
		};

		battery-charger@6b {
			compatible = "ti,bq2419x";
			reg = <0x6b>;

			interrupt-parent = <&gpio>;
			interrupts = <TEGRA_GPIO(J, 0) 0x0>;

			battery_charger: charger {
				status = "disabled";
				regulator-name = "batt_regulator";
				regulator-max-microamp = <3000000>;
				ti,watchdog-timeout = <40>;
				ti,rtc-alarm-time = <3600>;
				ti,auto-recharge-time = <1800>;
				ti,disbale-suspend-during-charging;
				ti,charge-voltage-limit-millivolt = <4200>;
				ti,charge-term-current-limit-milliamp = <260>;
				ti,temp-range = <10 15 60>;
				ti,charge-current-limit = <1024 2048 5200>;
				ti,thermal-zone = "Battery";
				ti,temp-polling-time-sec = <5>;
				ti,ir-comp-voltage-millivolt = <1>;
				ti,ir-comp-resister-ohm = <70>;
				consumers {
					c1 {
						regulator-consumer-supply = "usb_bat_chg";
						regulator-consumer-device = "tegra-udc.0";
					};
					c2 {
						regulator-consumer-supply = "usb_bat_chg";
						regulator-consumer-device = "tegra-otg";
					};
				};
			};

			usb0_vbus_reg: vbus {
				regulator-name = "vbus_regulator";
				ti,otg-iusb-gpio = <&gpio TEGRA_GPIO(I, 4) 0>;
				consumers {
					c1 {
						regulator-consumer-supply = "usb_vbus";
						regulator-consumer-device = "tegra-ehci.0";
					};

					c2 {
						regulator-consumer-supply = "usb_vbus";
						regulator-consumer-device = "tegra-otg";
					};
				};
			};
		};

		htc_mcu@72 {
			compatible = "htc_mcu";
			reg = <0x72>;
			interrupt-parent = <&gpio>;
			interrupts = <140 0x0>;
			mcu,intr-gpio  = <&gpio 140 0>;
			mcu,gs_chip_layout = <1>;
			mcu,acceleration_axes = <7>;
			mcu,magnetic_axes = <7>;
			mcu,gyro_axes = <7>;
			mcu,Cpu_wake_mcu-gpio = <&gpio 129 0>;
			mcu,Reset-gpio = <&gpio 138 0>;
			mcu,Chip_mode-gpio = <&gpio 164 0>;
		};
	};

	i2c@7000c400 {
		status = "okay";
		clock-frequency = <400000>;

		richtek_rt5506_amp@52 {
			compatible = "richtek,rt5506-amp";
			reg = <0x52>;
			richtek,enable-gpio = <&gpio 185 0>;
		};
	};

	i2c@7000c500 {
		status = "okay";
		clock-frequency = <400000>;
	};

	i2c@7000c700 {
		status = "okay";
		clock-frequency = <400000>;
	};

	i2c@7000d000 {
		status = "okay";
		clock-frequency = <400000>;
		nvidia,bit-banging-xfer-after-shutdown;
	};

	i2c@7000d100 {
		status = "okay";
		clock-frequency = <400000>;
	};

	spi@7000d400 {
		status = "okay";
		spi-max-frequency = <25000000>;
	};

	spi@7000d800 {
		status = "okay";
		spi-max-frequency = <25000000>;
	};

	spi@7000da00 {
		status = "okay";
		spi-max-frequency = <25000000>;
	};

	spi@7000dc00 {
		status = "okay";
		spi-max-frequency = <25000000>;
	};

	denver_cpuidle_pmic {
		type = <4>; /* TPS 65913 2.3*/
		retention-voltage = <11>;  /* Vret = 0.55v */
		lock = <0>;
	};

	xusb@70090000 {
		/* nvidia,uses_external_pmic;
		nvidia,gpio_controls_muxed_ss_lanes; */
		nvidia,gpio_ss1_sata = <0>;
		nvidia,portmap = <0x101>; /* SSP0, USB2P0 */
		nvidia,ss_portmap = <0x0>; /* SSP0 on USB2P0 */
		nvidia,lane_owner = <4>; /* USB3P0 */
		nvidia,ulpicap = <0>; /* No ulpi support. can we remove */
		status = "okay";
	};

	udc@7d000000 {
		nvidia,port-otg;
		nvidia,charging-supported;
		nvidia,enable-pmu-vbus-detection;
		nvidia,id-detection-type = <1>;
		nvidia,qc2-input-voltage = <1>;
		nvidia,qc2-current-limit-ma = <1200>;
		nvidia,dcp-current-limit-ma = <1800>;
		extcon-cables = <&palmas_extcon 0 &palmas_extcon 1>;
		extcon-cable-names = "vbus", "id";
		#extcon-cells = <1>;
		avdd_usb-supply = <&ldousb_reg>;
		avdd_pll_utmip-supply = <&palmas_smps8>;
		status = "okay";
	};

	otg@7d000000 {
		nvidia,enable-pmu-vbus-detection;
		nvidia,id-detection-type = <1>;
		extcon-cables = <&palmas_extcon 0 &palmas_extcon 1>;
		extcon-cable-names = "vbus", "id";
		#extcon-cells = <1>;
		status = "okay";
	};

	psy_extcon {
		compatible = "power-supply-extcon";
		power-supply,extcon-dev = "tegra-udc";
		power-supply,y-cable-extcon-dev = "tegra-otg";
	};

	ehci@7d004000 {
		nvidia,port-otg;
		nvidia,has-hostpc;
		nvidia,turn-off-vbus-on-lp0;
		avdd_usb-supply = <&ldousb_reg>;
		usb_vbus-supply = <&usb2_vbus>;
		avdd_pll_utmip-supply = <&palmas_smps8>;
		vddio_hsic-supply = <&ldo5_reg>;
		status = "okay";
	};

	ehci@7d008000 {
		avdd_usb-supply = <&ldousb_reg>;
		avdd_pll_utmip-supply = <&palmas_smps8>;
		usb_vbus-supply = <&usb2_vbus>;
		vddio_hsic-supply = <&ldo5_reg>;
		status = "okay";
	};


	therm_est_sensor {
		subdev {
			subdev_names = "Tdiode", "Tboard";

			coeff_set@0 {
				toffset = <708>;
				coeffs = <
					(-1) (-1) 0 (-1) 0 (-1) (-1) 0 0 0 1 1 1 1 2 2 2 2 3 5
					(-3) (-1) 1 1 2 1 2 1 (-1) (-1) 0 2 3 4 5 3 3 4 6 36
				>;
			};
		};
	};

	bluedroid_pm {
		compatible = "nvidia,tegra-bluedroid_pm";
		id = <0>;
		bluedroid_pm,shutdown-gpio = <&gpio TEGRA_GPIO(R, 1) 0>;
		bluedroid_pm,host-wake-gpio = <&gpio TEGRA_GPIO(U, 6) 0>;
		bluedroid_pm,ext-wake-gpio = <&gpio TEGRA_GPIO(EE, 1) 0>;
		interrupt-parent = <&gpio>;
		interrupts = <166 0x01>;
	};

	cpu_edp {
		nvidia,edp_limit = <16800>;
	};

	gpu_edp {
		nvidia,edp_limit = <16800>;
	};
};
