#include <dt-bindings/gpio/tegra-gpio.h>
#include <dt-bindings/mfd/palmas.h>
#include <dt-bindings/regulator/regulator.h>
#include <dt-bindings/display/tegra-dc.h>
#include <dt-bindings/display/tegra-panel.h>


#define TEGRA132_PACKAGE_IS_DSC

#include "tegra132-soc-shield.dtsi"
/*  #include "tegra132-flounder-camera.dtsi"*/

#include "tegra132-flounder-sysedp.dtsi"
#include "tegra132-flounder-powermon.dtsi"
#include "tegra132-flounder-emc.dtsi"
#include "tegra132-tn8-dfll.dtsi"
#include "tegra132-flounder-touch.dtsi"
#include "tegra132-platforms/tegra132-flounder-gpio-default.dtsi"
#include "tegra132-platforms/tegra132-flounder-pinmux.dtsi"
#include "tegra132-flounder-power-tree.dtsi"
#include "panel-j-qxga-8-9.dtsi"
/ {
	model = "flounder";
	nvidia,dtsfilename = __FILE__;
	nvidia-boardids = "1780:1100:2:B:7","1794:1000:0:A:6";
	#address-cells = <2>;
	#size-cells = <2>;

	chosen {
		bootargs = "tegraid=40.0.0.00.00 vmalloc=256M video=tegrafb console=ttyS0,115200n8 earlyprintk 1780:1100:2:B:7";
		linux,initrd-start = <0x85000000>;
		linux,initrd-end = <0x851bc400>;
	};


	firmware {
		android {
			compatible = "android,firmware";
			hardware = "flounder";
		};
	};

        host1x {
		/* tegradc.0 */
		dc@54200000 {
			status = "okay";
			nvidia,dc-flags = <TEGRA_DC_FLAG_ENABLED>;
			nvidia,emc-clk-rate = <204000000>;
			nvidia,cmu-enable = <0>;
			nvidia,low-v-win = <0x2>;
			nvidia,fb-bpp = <32>; /* bits per pixel */
			nvidia,fb-flags = <TEGRA_FB_FLIP_ON_PROBE>;
		};
		/* tegradc.1 */
		dc@54240000 {
			status = "disabled";
			nvidia,dc-flags = <TEGRA_DC_FLAG_ENABLED>;
			nvidia,emc-clk-rate = <300000000>;
			nvidia,fb-bpp = <32>; /* bits per pixel */
			nvidia,fb-flags = <TEGRA_FB_FLIP_ON_PROBE>;
		};
		dsi {
			nvidia,dsi-controller-vs = <DSI_VS_1>;
			status = "okay";
			panel-j-qxga-8-9 {
				disp-default-out {
					nvidia,out-rotation = <180>;
				};
			};
		};
		hdmi {
			status = "disabled";
		};
		vi {
			status = "disabled";
		};

	};

	backlight {
		compatible = "pwm-backlight";
		status = "okay";
	};

	pmc@7000e400 {
		status = "okay";
		nvidia,invert-interrupt;
		nvidia,suspend-mode = <0>;
		nvidia,cpu-pwr-good-time = <500>;
		nvidia,cpu-pwr-off-time = <300>;
		nvidia,core-pwr-good-time = <3845 3845>;
		nvidia,core-pwr-off-time = <2000>;
		nvidia,core-power-req-active-high;
		nvidia,sys-clock-req-active-high;
	};

	serial@70006000 {
		compatible = "nvidia,tegra114-hsuart";
		status = "okay";
	};

	serial@70006040 {
		compatible = "nvidia,tegra114-hsuart";
		status = "okay";
	};

	serial@70006200 {
		compatible = "nvidia,tegra114-hsuart";
		status = "okay";
	};

	serial@70006300 {
		compatible = "nvidia,tegra114-hsuart";
		status = "okay";
	};

	memory@0x80000000 {
		device_type = "memory";
		reg = <0x0 0x80000000 0x0 0x80000000>;
	};

	i2c@7000c000 {
		status = "okay";

		battery-gauge@36 {
			compatible = "maxim,max17050";
			reg = <0x36>;
			battery-id-channel-name = "batt-id-channel";
			param_adjust_map_by_id {
				id0 {
					id-number = <0>;
					id-range = <0 524>;
					temperature-normal-to-low-threshold = <(-50)>;
					temperature-low-to-normal-threshold = <(-30)>;
					temperature-normal-parameters = <0x964C 0x0068 0x0000>;
					temperature-low-parameters = <0xAF59 0x4D84 0x2484>;
				};
				id1 {
					id-number = <1>;
					id-range = <525 1343>;
					temperature-normal-to-low-threshold = <(-80)>;
					temperature-low-to-normal-threshold = <(-50)>;
					temperature-normal-parameters = <0x964C 0x1032 0x0000>;
					temperature-low-parameters = <0xAF59 0x5F86 0x2790>;
				};
			};
		};

		battery-charger@6b {
			compatible = "ti,bq2419x";
			reg = <0x6b>;

			battery_charger: charger {
				compatible = "htc,bq2419x_battery";
				regulator-name = "batt_regulator";
				regulator-max-microamp = <2000000>;
				auto-recharge-time = <30>;
				input-voltage-limit-millivolt = <4440>;
				fast-charge-current-limit-milliamp = <2944>;
				pre-charge-current-limit-milliamp = <512>;
				charge-voltage-limit-millivolt = <4352>;
				charge-suspend-polling-time-sec = <3600>;
				temp-polling-time-sec = <30>;
				thermal-overtemp-control-no-thermister;
				thermal-temperature-hot-deciC = <551>;
				thermal-temperature-cold-deciC = <(-1)>;
				thermal-temperature-warm-deciC = <481>;
				thermal-temperature-cool-deciC = <100>;
				thermal-temperature-hysteresis-deciC = <30>;
				thermal-warm-voltage-millivolt = <4096>;
				thermal-cool-voltage-millivolt = <4352>;
				thermal-disable-warm-current-half;
				thermal-overtemp-output-current-milliamp = <1344>;
				unknown-battery-id-minimum = <1343>;
				battery-id-channel-name = "batt-id-channel";
				input-voltage-min-high-battery-millivolt = <4440>;
				input-voltage-min-low-battery-millivolt = <4200>;
				input-voltage-switch-millivolt = <4150>;
				gauge-power-supply-name = "battery";
				vbus-channel-name = "charger-vbus";
				vbus-channel-max-voltage-mv = <6875>;
				vbus-channel-max-adc = <4096>;
				consumers {
					c1 {
						regulator-consumer-supply = "usb_bat_chg";
						regulator-consumer-device = "tegra-udc.0";
					};
					c2 {
						regulator-consumer-supply = "usb_bat_chg";
						regulator-consumer-device = "tegra-otg";
					};
				};
			};

			vbus {
				regulator-name = "vbus_regulator";
				consumers {
					c1 {
						regulator-consumer-supply = "usb_vbus";
						regulator-consumer-device = "tegra-ehci.0";
					};

					c2 {
						regulator-consumer-supply = "usb_vbus";
						regulator-consumer-device = "tegra-otg";
					};
				};
			};
		};

		htc_mcu@72 {
			compatible = "htc_mcu";
			reg = <0x72>;
			interrupt-parent = <&gpio>;
			interrupts = <140 0x0>;
			mcu,intr-gpio  = <&gpio 140 0>;
			mcu,gs_chip_layout = <1>;
			mcu,acceleration_axes = <7>;
			mcu,magnetic_axes = <7>;
			mcu,gyro_axes = <7>;
			mcu,Cpu_wake_mcu-gpio = <&gpio 129 0>;
			mcu,Reset-gpio = <&gpio 138 0>;
			mcu,Chip_mode-gpio = <&gpio 164 0>;
		};
	};

	i2c@7000c400 {
		status = "okay";

		richtek_rt5506_amp@52 {
			compatible = "richtek,rt5506-amp";
			reg = <0x52>;
			richtek,enable-gpio = <&gpio 185 0>;
		};
	};

	i2c@7000c500 {
		status = "okay";
	};

	i2c@7000c700 {
		status = "okay";
	};

	i2c@7000d000 {
		nvidia,bit-banging-xfer-after-shutdown;

	};

	i2c@7000d100 {
		status = "okay";
		clock-frequency = <400000>;
	};

	spi@7000d400 {
		status = "okay";
		spi-max-frequency = <25000000>;
	};

	spi@7000d800 {
		status = "okay";
		spi-max-frequency = <25000000>;
	};

	spi@7000da00 {
		status = "okay";
		spi-max-frequency = <25000000>;
	};

	spi@7000dc00 {
		status = "okay";
		spi-max-frequency = <25000000>;
	};

	denver_cpuidle_pmic {
		type = <4>; /* TPS 65913 2.3*/
		retention-voltage = <11>;  /* Vret = 0.55v */
		lock = <0>;
	};

	gpio-keys {
		compatible = "gpio-keys";

		power {
			label = "Power";
			gpios = <&gpio TEGRA_GPIO(Q, 0) GPIO_ACTIVE_LOW>;
			linux,code = <KEY_POWER>;
			gpio-key,wakeup;
			debounce-interval = <20>;
		};

		volume_down {
			label = "Volume Down";
			gpios = <&gpio TEGRA_GPIO(Q, 5) GPIO_ACTIVE_LOW>;
			linux,code = <KEY_VOLUMEDOWN>;
			debounce-interval = <20>;
		};

		volume_up {
			label = "Volume Up";
			gpios = <&gpio TEGRA_GPIO(V, 2) GPIO_ACTIVE_LOW>;
			linux,code = <KEY_VOLUMEUP>;
			debounce-interval = <20>;
		};
	};

	therm_est_sensor {
		status = "disabled";
	};

	cpu_edp {
		nvidia,edp_limit = <16800>;
	};

	gpu_edp {
		nvidia,edp_limit = <16800>;
	};

};
